<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="https://learn.village88.com/assets/black_ninja-9adea777014ced1d5d36046555cf036c.ico?v=2" type="image/x-icon">
        <link rel="stylesheet" href="/stylesheets/cars_and_cats.css">
        <script src="https://kit.fontawesome.com/929adf1879.js" crossorigin="anonymous"></script>
        <title>Village88 | NodeJS (Express) | Cars and Cats | Cars</title>
    </head>
    <body>
        <section>
            <img src="images/car_1.jpeg">
            <img src="images/car_2.jpeg">
            <img src="images/car_3.jpeg">
            <div>
                <a href="/">Back To Home Page</a>
                <a href="/cars/new">Add A Car</a>
            </div>
        </section>
    </body>
</html>