<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="https://learn.village88.com/assets/black_ninja-9adea777014ced1d5d36046555cf036c.ico?v=2" type="image/x-icon">
        <link rel="stylesheet" href="/stylesheets/form.css">
        <script src="https://kit.fontawesome.com/929adf1879.js" crossorigin="anonymous"></script>
        <title>Village88 | NodeJS (Express) | Cars and Cats | Cars</title>
    </head>
    <body>
        <section>
            <a href="/cars">Go Back</a>
            <form>
                <h3>Add Car Form</h3>
                <label for="car_make">Car Make</label>
                <input type="text" name="car_make" id="car_make">
                <label for="car_model">Car Model</label>
                <input type="text" name="car_model" id="car_model">
                <label for="car_picture">Picture</label>
                <input type="file" name="car_picture" id="car_picture">
                <button>Submit</button>
            </form>
        </section>
    </body>
</html>